@using ViaDoc.EntidadNegocios;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (ViewData["mensajeError"] != null)
{
    <script type="text/javascript">
        var respuesta = '@Html.Encode(ViewData["mensajeError"].ToString())';
        llamaModal('warning', respuesta);
    </script>
}

<section class="content">
    <section class="content-header" style="padding-bottom:5px; padding-top:8px">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Documentos</a></li>
                        <li class="breadcrumb-item active">Estadísticas</li>
                    </ol>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <div class="container-fluid">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">Filtros de Búsquedas</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Compañía</label>
                            <select class="form-control js-example-basic-single" id="txtIdEmpresa">
                                @foreach (CatCompania item in ViewData["listEmpresas"] as List<CatCompania>)
                                {
                                    <option value="@item.idCompania">@item.nombreComercial</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Tipo Documento</label>
                            <select class="form-control js-example-basic-single" id="txtIdTipoDocumento">
                                @foreach (CatDocumento item in ViewData["listDocumentos"] as List<CatDocumento>)
                                {
                                    <option value="@item.idTipoDocumento">@item.descripcion</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Número de Documentos</label>
                            <input type="text" class="form-control" id="txtNumDocumento" maxlength="17" Onkeypress="return validarNumSig(event);" placeholder="Ejem. 001-001-000000001">
                        </div>
                    </div>

                    <center>
                        <div class="col-sm-3">
                            <input type="button" id="btnBuscar" class="btn btn-block btn-primary" value="Buscar" />
                        </div>
                    </center>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </div>

    <section class="content-header" style="padding-top:0px">
        <div id="divGrigEstadisticas">

        </div>
    </section>
</section>

<script>
    $('#txtFechaInicio').datetimepicker({
        format: 'DD/MM/YYYY'
    });

    $('#txtFechaFin').datetimepicker({
        format: 'DD/MM/YYYY'
    });

    $('#btnBuscar').on('click', function () {
        CargarEstadisticas();
    });
</script>
